{%extends 'index.html'%}


{% block content %}
  
    <div class="container">
        <div class="row row_post_detail">
            <div class="col-lg-12 ">
                    <div class="head_contact">
                        <h3>Биз Менен Байланышуу</h3>
                        <ul class="cbp-ig-grid">
                            <li>
                                <a href="#">
                                    <span class="cbp-ig-icon fa fa-mobile"></span>
                                    <h3 class="cbp-ig-title">Телефон</h3>
                                    <span class="cbp-ig-category">031245485</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="cbp-ig-icon fa fa-envelope-o"></span>
                                    <h3 class="cbp-ig-title">
                                        Электрондук кат
                                    </h3>
                                    <span class="cbp-ig-category">22@sebat.edu.kg</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class=" cbp-ig-icon fa fa-facebook "></span>
                                    <h3 class="cbp-ig-title">Facebook</h3>
                                    <span class="cbp-ig-category">facebook.com/pg/manasata.edu</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="cbp-ig-icon fa fa-map-marker"></span>
                                    <h3 class="cbp-ig-title">Адрес</h3>
                                    <span class="cbp-ig-category">Турдалиева 119</span>
                                </a>
                            </li>
                            
                        </ul>
                               
                    </div>         
            </div> 
        </div>   <!-- eND FOR ROW  -->           
    </div> <!-- END FOR CONTAINER  -->
{% endblock %}